WT_LAB/LAB_5/book.dtd

<!ELEMENT library (book+)>

<!ELEMENT book (title, author, publisher, year, price, description?)>
<!ATTLIST book
    isbn CDATA #REQUIRED
    category (fiction | nonfiction | reference | children) "fiction"
>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (firstname, lastname)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>